
.probe
*.jar
*.bak
.kjspkg
.editorconfig
/screenshots/
/mod*/
/modernfix/
/saves/
.curseclient
/ESM/
/exposures/
/immersive_*
/logs/
/local/
/emojiful/
/data/
/crash-reports/
/cache/
.vscode/
.mixin.out/
/emi.json
/imgui.ini
/minecraftinstance.json
/observable_announce
/options.txt
/servers.dat
/patchouli_data.json
/TrashSlotSaveState.json
/user-prefs.json
/usercache.json
/usernamecache.json
/Version Exports
/win_*/
bivrik
backup*
.sable
command_history.txt
.qmenu_opened.marker
ponders_watched.json
WaypointData.dat
shaderpacks
schematics
trees
journeymap
kiwipacks
ldlib2
moonlight*
resourcepacks
patchouli_books
dynamic*
downloads
datapacks
.cache
figura/cache